name: Development Deploy
on:
  push:
    branches: [ dev ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:       
    - name: Deploy using ssh
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        port: 22
        script: |
          eval "$(ssh-agent -s)"
          ssh-add ~/.ssh/id_ed25519
          cd /root/TelegramBots/Dev-TopCargo
          git pull origin dev
          git status
          source env/bin/activate
          pip install -r requirements.txt
          systemctl restart devtopcargobot.service 
