name: Production Deploy
on:
  push:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy using ssh
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: 22
          script: |
            eval "$(ssh-agent -s)"
            ssh-add ~/.ssh/id_ed25519
            cd /root/gen_user/TelegramBots/VipCargoBot
            git pull origin main
            git status
            source env/bin/activate
            pip install -r requirements.txt
            systemctl restart VipCargoBot.service
